.CastDetailPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cast-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 1600px;
}

.cast-detail .box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;

	padding: 50px 0;

	background-color: rgb(255, 255, 255);

	overflow: hidden;
}
.cast-image {
	position: relative;
	transform: translateX(300px);
	opacity: 0;

	animation: cast-detail-image-Appear 1s ease-out forwards;
	animation-delay: 0.2s;
}
@keyframes cast-detail-image-Appear {
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.cast-image img,
.cast.no-image {
	position: relative;
	width: 250px;
	height: 375px;
	border-radius: 10px;

	box-shadow: 0 2px 8px rgb(179, 179, 179);
	background-color: rgb(236, 236, 236);
}

.cast.no-image::after {
	content: "No image";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cast-detail .box2 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 25px;
	max-width: 900px;
	padding: 25px 50px;

	transform: translateY(600px);
	opacity: 0;

	animation: cast-detail-box2 1.2s ease-out forwards;
	animation-delay: 0.2s;
}

@keyframes cast-detail-box2 {
	0% {
		transform: translateY(600px);
	}
	50% {
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.cast-detail .box2 .cast-name {
	font-size: 2rem;
	font-weight: bold;
}

@media (min-width: 769px) {
	.cast-detail .cast-image-max-width {
		display: none;
	}
}
@media (max-width: 768px) {
	.cast-detail .cast-image {
		display: none;
	}
	.cast-detail .cast-image-max-width img {
		position: relative;
		width: 250px;
		height: 375px;
		border-radius: 10px;
	}
}

@media (max-width: 600px) {
	.cast-detail .cast-image-max-width img,
	.cast.no-image {
		width: 150px;
		height: 225px;
	}

	.cast-detail .box2 .cast-name {
		font-size: 1.3rem;
	}
	.cast-detail .box2 p {
		font-size: 1rem;
	}
}
